<div class="cl-dashboard" [class.collapsed]="!isMenuExpanded">
  <aside class="cl-sidebar">
    <div class="cl-sidebar-header">
      <button class="menu-toggle-btn" (click)="toggleSidebar()" title="Alternar menú">
        <span class="material-symbols-outlined">menu</span>
      </button>
      <img *ngIf="isMenuExpanded" src="/cetvi-remove-bg.png" alt="Logo" class="cl-logo">
    </div>

    <nav class="cl-nav">
      <ul>
        <li *ngFor="let m of listaMenu">
          <div class="cl-nav-item" 
              (click)="isMenuExpanded ? toggleMenu(m.idMenu) : toggleSidebar()" 
              [class.active]="menusAbiertos[m.idMenu]">
            
            <div class="cl-nav-label">
              <span class="material-symbols-outlined icon-lg" [title]="m.nombre">
                {{ 
                  m.nombre?.toLowerCase()?.includes('ensayo') ? 'science' : 
                  m.nombre?.toLowerCase()?.includes('cliente') ? 'group' :
                  m.nombre?.toLowerCase()?.includes('usuario') ? 'manage_accounts' : 'grid_view' 
                }}
              </span>
              <span class="menu-text" *ngIf="isMenuExpanded">{{ m.nombre | titlecase }}</span>
            </div>
            
            <span class="material-symbols-outlined arrow" *ngIf="m.subMenus?.length > 0 && isMenuExpanded">
              expand_more
            </span>
          </div>

          <ul class="cl-submenu" *ngIf="isMenuExpanded && menusAbiertos[m.idMenu] && m.subMenus?.length > 0">
            <li *ngFor="let sm of m.subMenus" [routerLink]="['/principal', sm.url]" routerLinkActive="active-submenu">
              {{ sm.nombre | titlecase }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="cl-footer">
      <button type="button" class="cl-btn-logout" (click)="cerrarSesion()">
        <span class="material-symbols-outlined icon-lg" title="Cerrar Sesión">logout</span>
        <span class="menu-text" *ngIf="isMenuExpanded">Cerrar Sesión</span>
      </button>
    </div>
  </aside>

  <main class="cl-main">
<header class="cl-top-header">
  <div class="user-profile-container">
    <button class="profile-trigger" (click)="toggleProfileMenu()">
      <img src="/cetvi-lab/public/user.png" alt="User" class="avatar">
    </button>

    <div class="profile-dropdown" [class.active]="isProfileMenuOpen">
      <div class="user-info">
        <p class="user-name">User</p>
        <p class="user-email">user@ejemplo.com</p>
      </div>
      
      <hr>

      <ul class="menu-list">
        <li>
          <button (click)="irAConfiguracion()">
            Configuración
          </button>
        </li>
        <li>
          <button (click)="cambiarUsuario()">
            Cambiar usuario
          </button>
        </li>
        <li class="logout-item">
          <button (click)="cerrarSesion()">
            Cerrar Sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
    <div class="cl-content">
      <router-outlet></router-outlet>
    </div>
  </main>
  </div>