:root{
    --padding-container: 100px 0;
    --primary-color: #F2C94C;
    --black: #1F1F1F;
    --light-concrete: #F4F6F8;
    --text-primary: #333333;
    --text-secondary: #6B7280;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    overflow: hidden;
}

.header__logo__title{
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-items: center;
}

.header__logo{
    width: 200px;
}

/* NAV */
.nav{
    background-color:var(--black);
    color: var(--light-concrete);
}

.nav__link{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.nav__items{
    list-style: none;
    color: var(--light-concrete);
    display: flex;
    align-items: center;
    gap: 5px;

}
.nav__links{
    text-decoration: none;
    color:var(--light-concrete);
}

.material-symbols-outlined{
    color: var(--primary-color);
    cursor: pointer;
}













