.nav-principal {
  list-style: none;
  .nav-item-padre {
    position: relative;
    cursor: pointer;
    font-weight: 600;
    &:hover .nav-hijo { display: block; }
  }
}

.nav-hijo {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 100;
  list-style: none;
  padding: 10px;
  li {
    padding: 8px;
    font-weight: 400;
    &:hover { background-color: var(--bg-app); color: var(--primary-color); }
  }
}

.hover-bg:hover { background-color: #f9f9f9; }
.modal-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}
.text-primary { color: var(--primary-color); font-weight: bold; }
