USE [master]
GO
/****** Object:  Database [ap_aplicacion]    Script Date: 28/3/2025 20:40:35 ******/
CREATE DATABASE [ap_aplicacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ap_aplicacion', FILENAME = N'D:\SqlData\ap_aplicacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ap_aplicacion_log', FILENAME = N'D:\SqlData\ap_aplicacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ap_aplicacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ap_aplicacion]
GO
/****** Object:  User [usr_administrador]    Script Date: 28/3/2025 20:40:37 ******/
CREATE USER [usr_administrador] FOR LOGIN [usr_administrador] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [usr_administrador]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [usr_administrador]
GO
/****** Object:  Table [dbo].[ap_codigo_enfermedad]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_codigo_enfermedad](
	[ce_id] [int] IDENTITY(1,1) NOT NULL,
	[ce_codigo] [varchar](10) NULL,
	[ca_descripcion] [text] NULL,
	[ca_codigo_padre] [int] NULL,
	[ca_nivel] [int] NULL,
 CONSTRAINT [PK_ap_codigo_enfermedad] PRIMARY KEY CLUSTERED 
(
	[ce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_especialidad_medica]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_especialidad_medica](
	[em_id] [int] IDENTITY(1,1) NOT NULL,
	[em_nombre] [varchar](100) NOT NULL,
	[em_descripcion] [text] NULL,
 CONSTRAINT [PK_ap_especialidad_medica] PRIMARY KEY CLUSTERED 
(
	[em_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_estado_civil]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_estado_civil](
	[ec_id] [int] IDENTITY(1,1) NOT NULL,
	[ec_descipcion] [varchar](200) NULL,
	[ec_nemonico] [varchar](3) NULL,
 CONSTRAINT [PK_ap_estado_civil] PRIMARY KEY CLUSTERED 
(
	[ec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_identificacion]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_identificacion](
	[ai_id] [int] NOT NULL,
	[ai_identificacion] [varchar](13) NOT NULL,
	[ai_id_tipo_identificacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_medico]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_medico](
	[me_id] [int] IDENTITY(1,1) NOT NULL,
	[me_id_persona] [int] NOT NULL,
	[em_id_especialidad] [int] NOT NULL,
 CONSTRAINT [PK_ap_medico] PRIMARY KEY CLUSTERED 
(
	[me_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_perfil]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_perfil](
	[pe_id] [int] IDENTITY(1,1) NOT NULL,
	[pe_descipcion] [varchar](200) NULL,
	[pe_nemonico] [varchar](3) NULL,
	[pe_estado] [bit] NULL,
 CONSTRAINT [PK_ap_perfil] PRIMARY KEY CLUSTERED 
(
	[pe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_persona]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_persona](
	[pe_id] [int] IDENTITY(1,1) NOT NULL,
	[pe_nombre] [varchar](200) NULL,
	[pe_primer_apellido] [varchar](200) NULL,
	[pe_segundo_apellido] [varchar](200) NULL,
	[pe_id_sexo] [int] NULL,
	[pe_direccion] [varchar](1000) NULL,
	[pe_telefono] [varchar](20) NULL,
	[pe_correo] [varchar](100) NULL,
	[pe_estado_civil] [int] NULL,
	[pe_id_perfil] [int] NULL,
	[pe_fecha_creacion] [datetime] NULL,
	[pe_identificacion] [varchar](13) NULL,
	[pe_fecha_nacimiento] [datetime] NULL,
 CONSTRAINT [PK_ap_persona] PRIMARY KEY CLUSTERED 
(
	[pe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_sexo]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_sexo](
	[s_id] [int] IDENTITY(1,1) NOT NULL,
	[s_descipcion] [varchar](200) NULL,
	[s_nemonico] [varchar](3) NULL,
 CONSTRAINT [PK_ap_sexo] PRIMARY KEY CLUSTERED 
(
	[s_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ap_tipo_identificacion]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ap_tipo_identificacion](
	[ti_id] [int] NOT NULL,
	[ti_nemonico] [varchar](3) NOT NULL,
	[ti_descripcion] [varchar](100) NOT NULL,
	[ti_estado] [bit] NULL,
 CONSTRAINT [PK_ap_tipo_identificacion] PRIMARY KEY CLUSTERED 
(
	[ti_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historia_medica]    Script Date: 28/3/2025 20:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historia_medica](
	[hm_id_historia] [int] IDENTITY(1,1) NOT NULL,
	[hm_id_paciente] [int] NOT NULL,
	[hm_fecha_diagnostico] [date] NOT NULL,
	[hm_diagnostico] [text] NOT NULL,
	[hm_tratamiento] [text] NULL,
	[hm_notas] [text] NULL,
	[hm_id_medico] [int] NOT NULL,
	[hm_codigo_enfermedad] [int] NOT NULL,
 CONSTRAINT [PK_historia_medica] PRIMARY KEY CLUSTERED 
(
	[hm_id_historia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ap_estado_civil] ON 

INSERT [dbo].[ap_estado_civil] ([ec_id], [ec_descipcion], [ec_nemonico]) VALUES (1, N'Soltero/a', N'SOL')
INSERT [dbo].[ap_estado_civil] ([ec_id], [ec_descipcion], [ec_nemonico]) VALUES (2, N'Casado/a', N'CAS')
INSERT [dbo].[ap_estado_civil] ([ec_id], [ec_descipcion], [ec_nemonico]) VALUES (3, N'Viudo/a', N'VIU')
SET IDENTITY_INSERT [dbo].[ap_estado_civil] OFF
GO
SET IDENTITY_INSERT [dbo].[ap_perfil] ON 

INSERT [dbo].[ap_perfil] ([pe_id], [pe_descipcion], [pe_nemonico], [pe_estado]) VALUES (1, N'Administrador', N'ADM', 1)
INSERT [dbo].[ap_perfil] ([pe_id], [pe_descipcion], [pe_nemonico], [pe_estado]) VALUES (2, N'Medico/a', N'MED', 1)
INSERT [dbo].[ap_perfil] ([pe_id], [pe_descipcion], [pe_nemonico], [pe_estado]) VALUES (3, N'Paciente', N'PAC', 1)
SET IDENTITY_INSERT [dbo].[ap_perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[ap_persona] ON 

INSERT [dbo].[ap_persona] ([pe_id], [pe_nombre], [pe_primer_apellido], [pe_segundo_apellido], [pe_id_sexo], [pe_direccion], [pe_telefono], [pe_correo], [pe_estado_civil], [pe_id_perfil], [pe_fecha_creacion], [pe_identificacion], [pe_fecha_nacimiento]) VALUES (1, N'Eddy', N'Navarrete', N'Uquillas', 1, N'Esmeraldas y Colon', N'0987654321', N'navarrete@gmail.com', 1, 3, CAST(N'2025-03-19T20:51:07.103' AS DateTime), N'0603876547', CAST(N'1990-09-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ap_persona] OFF
GO
SET IDENTITY_INSERT [dbo].[ap_sexo] ON 

INSERT [dbo].[ap_sexo] ([s_id], [s_descipcion], [s_nemonico]) VALUES (1, N'Hombre', N'HOM')
INSERT [dbo].[ap_sexo] ([s_id], [s_descipcion], [s_nemonico]) VALUES (2, N'Mujer', N'MUJ')
SET IDENTITY_INSERT [dbo].[ap_sexo] OFF
GO
INSERT [dbo].[ap_tipo_identificacion] ([ti_id], [ti_nemonico], [ti_descripcion], [ti_estado]) VALUES (1, N'CED', N'Cédula', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ap_espec__9B0ABC0B8BF0EABC]    Script Date: 28/3/2025 20:40:38 ******/
ALTER TABLE [dbo].[ap_especialidad_medica] ADD UNIQUE NONCLUSTERED 
(
	[em_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ap_identificacion]  WITH CHECK ADD  CONSTRAINT [FK_ap_identificacion_tipo_identificacion] FOREIGN KEY([ai_id_tipo_identificacion])
REFERENCES [dbo].[ap_tipo_identificacion] ([ti_id])
GO
ALTER TABLE [dbo].[ap_identificacion] CHECK CONSTRAINT [FK_ap_identificacion_tipo_identificacion]
GO
ALTER TABLE [dbo].[ap_medico]  WITH CHECK ADD  CONSTRAINT [FK_ap_medico_ap_especialidad_medica] FOREIGN KEY([em_id_especialidad])
REFERENCES [dbo].[ap_especialidad_medica] ([em_id])
GO
ALTER TABLE [dbo].[ap_medico] CHECK CONSTRAINT [FK_ap_medico_ap_especialidad_medica]
GO
ALTER TABLE [dbo].[ap_medico]  WITH CHECK ADD  CONSTRAINT [FK_ap_medico_ap_persona] FOREIGN KEY([me_id_persona])
REFERENCES [dbo].[ap_persona] ([pe_id])
GO
ALTER TABLE [dbo].[ap_medico] CHECK CONSTRAINT [FK_ap_medico_ap_persona]
GO
ALTER TABLE [dbo].[ap_persona]  WITH CHECK ADD  CONSTRAINT [FK_ap_persona_ap_estado_civil] FOREIGN KEY([pe_estado_civil])
REFERENCES [dbo].[ap_estado_civil] ([ec_id])
GO
ALTER TABLE [dbo].[ap_persona] CHECK CONSTRAINT [FK_ap_persona_ap_estado_civil]
GO
ALTER TABLE [dbo].[ap_persona]  WITH CHECK ADD  CONSTRAINT [FK_ap_persona_ap_perfil] FOREIGN KEY([pe_id_perfil])
REFERENCES [dbo].[ap_perfil] ([pe_id])
GO
ALTER TABLE [dbo].[ap_persona] CHECK CONSTRAINT [FK_ap_persona_ap_perfil]
GO
ALTER TABLE [dbo].[ap_persona]  WITH CHECK ADD  CONSTRAINT [FK_ap_persona_ap_sexo_] FOREIGN KEY([pe_id_sexo])
REFERENCES [dbo].[ap_sexo] ([s_id])
GO
ALTER TABLE [dbo].[ap_persona] CHECK CONSTRAINT [FK_ap_persona_ap_sexo_]
GO
ALTER TABLE [dbo].[historia_medica]  WITH CHECK ADD  CONSTRAINT [FK_historia_ap_codigo_enfermedad] FOREIGN KEY([hm_codigo_enfermedad])
REFERENCES [dbo].[ap_codigo_enfermedad] ([ce_id])
GO
ALTER TABLE [dbo].[historia_medica] CHECK CONSTRAINT [FK_historia_ap_codigo_enfermedad]
GO
ALTER TABLE [dbo].[historia_medica]  WITH CHECK ADD  CONSTRAINT [FK_historia_medica_ap_medico] FOREIGN KEY([hm_id_medico])
REFERENCES [dbo].[ap_medico] ([me_id])
GO
ALTER TABLE [dbo].[historia_medica] CHECK CONSTRAINT [FK_historia_medica_ap_medico]
GO
ALTER TABLE [dbo].[historia_medica]  WITH CHECK ADD  CONSTRAINT [FK_historia_medica_ap_persona] FOREIGN KEY([hm_id_paciente])
REFERENCES [dbo].[ap_persona] ([pe_id])
GO
ALTER TABLE [dbo].[historia_medica] CHECK CONSTRAINT [FK_historia_medica_ap_persona]
GO
/****** Object:  StoredProcedure [dbo].[spi_paciente]    Script Date: 28/3/2025 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spi_paciente]
(
    @i_pe_nombre VARCHAR(200),
	@i_pe_primer_apellido VARCHAR(200),
	@i_pe_segundo_apellido VARCHAR(200),
	@i_pe_id_sexo INT,
	@i_pe_direccion VARCHAR(1000),
	@i_pe_telefono VARCHAR(20),
	@i_pe_correo VARCHAR(100),
	@i_pe_estado_civil INT,
	@i_pe_fecha_creacion DATETIME,
	@i_pe_identificacion VARCHAR(13),
	@i_pe_fecha_nacimiento DATETIME
)
AS
BEGIN
DECLARE @w_id_perfil INT = 0
	SELECT @w_id_perfil = pe_id FROM ap_perfil WHERE pe_nemonico = 'PAC'
	
INSERT INTO ap_persona
   (
		pe_nombre,
		pe_primer_apellido,
		pe_segundo_apellido,
		pe_id_sexo,
		pe_direccion,
		pe_telefono,
		pe_correo,
		pe_estado_civil,
		pe_id_perfil,
		pe_fecha_creacion,
		pe_identificacion,
		pe_fecha_nacimiento
	)
VALUES
	(
		@i_pe_nombre,
		@i_pe_primer_apellido,
		@i_pe_segundo_apellido,
		@i_pe_id_sexo,
		@i_pe_direccion,
		@i_pe_telefono,
		@i_pe_correo,
		@i_pe_estado_civil,
		@w_id_perfil,
		GETDATE(),
		@i_pe_identificacion,
		@i_pe_fecha_nacimiento
)
END
GO
/****** Object:  StoredProcedure [dbo].[sps_estado_civil]    Script Date: 28/3/2025 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sps_estado_civil]
AS
BEGIN
	SELECT ec_id AS 'Id', 
		ec_descipcion AS 'Descripcion', 
		ec_nemonico AS 'Nemonico' 
	FROM ap_estado_civil
END
GO
/****** Object:  StoredProcedure [dbo].[sps_identificaciones]    Script Date: 28/3/2025 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sps_identificaciones]
AS

BEGIN
	SELECT ti_id AS 'Id', ti_nemonico AS 'Nemonico', ti_descripcion AS 'Descripcion' 
	FROM ap_tipo_identificacion
	WHERE ti_estado = 1

END

GO
/****** Object:  StoredProcedure [dbo].[sps_paciente]    Script Date: 28/3/2025 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sps_paciente]
(
    @i_pe_identificacion VARCHAR(13)
)
AS
BEGIN
DECLARE @w_id_perfil INT = 0
	SELECT @w_id_perfil = pe_id FROM ap_perfil WHERE pe_nemonico = 'PAC'
	
SELECT 
		per.pe_id AS 'IdPaciente',
		per.pe_nombre AS 'Nombre',
		per.pe_primer_apellido AS 'PrimerApellido',
		per.pe_segundo_apellido AS 'SegundoApellido',
		per.pe_direccion AS 'Direccion',
		per.pe_telefono AS 'Telefono',
		per.pe_correo AS 'Correo',
		per.pe_identificacion AS 'Identificacion',
		per.pe_fecha_nacimiento AS 'FechaNacimineto',
		es.ec_descipcion AS 'EstadoCivil',
		es.ec_nemonico AS 'NemonicoEstadoCivil',
		se.s_descipcion AS 'Sexo',
		se.s_nemonico AS 'NemonicoSexo'

FROM ap_persona AS per
INNER JOIN ap_sexo AS se ON se.s_id = per.pe_id_sexo
INNER JOIN ap_estado_civil AS es ON es.ec_id = per.pe_estado_civil
WHERE pe_identificacion = @i_pe_identificacion
	AND pe_id_perfil = @w_id_perfil
	
END
GO
/****** Object:  StoredProcedure [dbo].[sps_sexo_persona]    Script Date: 28/3/2025 20:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sps_sexo_persona]
AS
BEGIN
	SELECT s_id AS 'Id', 
		s_descipcion AS 'Descripcion', 
		s_nemonico AS 'Nemonico' 
	FROM ap_sexo
END
GO
USE [master]
GO
