USE [master]
GO
/****** Object:  Database [ap_autenticacion]    Script Date: 28/3/2025 20:41:43 ******/
CREATE DATABASE [ap_autenticacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ap_autenticacion', FILENAME = N'D:\SqlData\ap_autenticacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ap_autenticacion_log', FILENAME = N'D:\SqlData\ap_autenticacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ap_autenticacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ap_autenticacion]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 28/3/2025 20:41:43 ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/96FB088889FB3609A28C06C42592D0E49056A347'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 28/3/2025 20:41:43 ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F003900360066006200300038003800380038003900660062003300360030003900610032003800630030003600630034003200350039003200640030006500340039003000350036006100330034003700C23D8DFFB394119C21E8CCC2589ABB60C9B50C17E6AE6F3D24AF43C6CAA6CA2B93A7309EA597FA34CE292A07C788B32855451BF87C6481590044DB89C6A28B15545CCC97F472CADE686447CACA5418C4E1B05DBFA6D2F3E89C326D6070F95EE7450488095B801023084120CC097FEAEF7C540EC762E9AEA02082F24F4BDC32B4DFC28CC2BF3E333FD18596F64B24EC1AAE3A741B00589299EFF4861AE349CB551D6B35DE943C1F3E08C23A150CDBB638F79F7D583667344FF3C9801BAB745A4CB98317132B97F8F0E99A15F2BBC1AE42E17055EBE23C5BA478F648EAFA0145D676B426B80493559748458FFB6944508AEF35852C5AB883D71662980CDC9662EFA86680C86135156538517F9C969B42D09E0896717C67027A9B7E1EBD74A5183789D2F283289E20178A15C436163C9452EB23C8764D3574790783F41B9FB2011949F03B7A09FAB95CE852E1FD846B2CCDE03564C06E798419852373E05F3E5197BDFD0D9A5D169816430E30F4809B26DF94EE83E844C52C78CE8E635F45B98D36FB3167B3276BA01EC0A53735D03E08874048DBD26D97A6713528D6EB17AA12541BC8B1737ADAA9C3A81D1C22D56881CF019D0BD20711F7416806BCFCDB25F105370626A2E55083D0108E7561B56BFA4F15DF3057E28464CE9FDFF7E3F9BA0440113E8FB0941BA4A30622FE46A6C58CEB1D1C047EB1180D1C0709BB8B75C2C52D
)
GO
/****** Object:  Table [dbo].[au_estado_loggin]    Script Date: 28/3/2025 20:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[au_estado_loggin](
	[ae_id] [int] IDENTITY(1,1) NOT NULL,
	[ae_nombre] [varchar](200) NULL,
	[ae_descripcion] [varchar](250) NULL,
	[ae_nemonico] [varchar](3) NULL,
 CONSTRAINT [PK_au_estadologgin] PRIMARY KEY CLUSTERED 
(
	[ae_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[au_loggin]    Script Date: 28/3/2025 20:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[au_loggin](
	[al_id] [int] IDENTITY(1,1) NOT NULL,
	[al_primer_nombre] [varchar](50) NULL,
	[al_segundo_nombre] [varchar](50) NULL,
	[al_primer_apellido] [varchar](50) NULL,
	[al_segundo_apellido] [varchar](50) NULL,
	[al_identificacion] [varchar](15) NULL,
	[al_loggin] [varchar](50) NULL,
	[al_clave] [varbinary](255) NULL,
	[al_correo] [varchar](500) NULL,
	[al_telefono] [varchar](15) NULL,
	[al_fecha_creacion] [datetime] NULL,
	[al_fecha_modificacion] [datetime] NULL,
	[al_fecha_activacion] [datetime] NULL,
	[al_fecha_nacimiento] [datetime] NULL,
	[al_estado] [bit] NULL,
	[al_estado_loggin] [int] NULL,
	[al_intento_loggin] [int] NULL,
 CONSTRAINT [PK_au_loggin] PRIMARY KEY CLUSTERED 
(
	[al_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[au_estado_loggin] ON 

INSERT [dbo].[au_estado_loggin] ([ae_id], [ae_nombre], [ae_descripcion], [ae_nemonico]) VALUES (1, N'ACTIVO', N'EL USUARIO ESTA ACTIVO', N'ACT')
INSERT [dbo].[au_estado_loggin] ([ae_id], [ae_nombre], [ae_descripcion], [ae_nemonico]) VALUES (2, N'PENDINETE', N'PENDIENTE POR ACTIVAR', N'PED')
INSERT [dbo].[au_estado_loggin] ([ae_id], [ae_nombre], [ae_descripcion], [ae_nemonico]) VALUES (3, N'BLOQUEADO', N'USUARIO BLOQUEADO', N'BLO')
SET IDENTITY_INSERT [dbo].[au_estado_loggin] OFF
GO
SET IDENTITY_INSERT [dbo].[au_loggin] ON 

SET IDENTITY_INSERT [dbo].[au_loggin] OFF
GO
ALTER TABLE [dbo].[au_loggin]  WITH CHECK ADD  CONSTRAINT [FK_au_loggin_au_estado_loggin] FOREIGN KEY([al_estado_loggin])
REFERENCES [dbo].[au_estado_loggin] ([ae_id])
GO
ALTER TABLE [dbo].[au_loggin] CHECK CONSTRAINT [FK_au_loggin_au_estado_loggin]
GO
/****** Object:  StoredProcedure [dbo].[spi_usuario]    Script Date: 28/3/2025 20:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spi_usuario]  
(  
 @i_al_primer_nombre VARCHAR(50),  
 @i_al_segundo_nombre VARCHAR(50),  
 @i_al_primer_apellido VARCHAR(50),  
 @i_al_segundo_apellido VARCHAR(50),  
 @i_al_identificacion VARCHAR(15),  
 @i_al_loggin VARCHAR(50),  
 @i_al_clave VARCHAR(25),  
 @i_al_correo VARCHAR(500),  
 @i_al_telefono VARCHAR(15),  
 @i_al_fecha_nacimiento DATETIME,
 @i_llave VARCHAR(20)
)  
AS  
  
BEGIN  
 DECLARE @w_al_clave AS VARBINARY(255)   
 , @w_ae_id AS INT = 0  
 SELECT @w_ae_id = ae_id FROM au_estado_loggin WHERE ae_nemonico = 'PED'  
 SET @w_al_clave = (ENCRYPTBYPASSPHRASE(@i_llave, @i_al_clave))  
  
 INSERT INTO au_loggin  
 (  
  al_primer_nombre ,  
  al_segundo_nombre ,  
  al_primer_apellido ,  
  al_segundo_apellido ,  
  al_identificacion ,  
  al_loggin ,  
  al_clave,  
  al_correo,  
  al_telefono ,  
  al_fecha_creacion ,  
  al_estado,  
  al_estado_loggin,  
  al_intento_loggin,  
  al_fecha_nacimiento  
 )  
  
 VALUES  
 (  
  @i_al_primer_nombre,  
  @i_al_segundo_nombre,  
  @i_al_primer_apellido,  
  @i_al_segundo_apellido,  
  @i_al_identificacion,  
  @i_al_loggin,  
  @w_al_clave,  
  @i_al_correo,  
  @i_al_telefono,  
  GETDATE(),  
  1,  
  @w_ae_id,  
  0,  
  @i_al_fecha_nacimiento  
 )  
END  
GO
/****** Object:  StoredProcedure [dbo].[sps_usuario]    Script Date: 28/3/2025 20:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[sps_usuario]   
(  
 @i_al_loggin VARCHAR(50),  
 @i_llave VARCHAR(30)  
)  
AS  
  
BEGIN  
 DECLARE @w_al_clave AS VARBINARY(255)   
 , @w_ae_id AS INT = 0  
 SELECT @w_ae_id = ae_id FROM au_estado_loggin WHERE ae_nemonico = 'ACT'  
  
 SELECT  
  al_id AS 'IdCliente',  
  al_primer_nombre AS 'PrimerNombre' ,  
  al_segundo_nombre AS 'SegundoNombre',  
  al_primer_apellido AS 'PrimerApellido',  
  al_segundo_apellido AS 'SegundoApellido',  
  al_identificacion AS 'Identificacion',  
  al_loggin  ,  
  ISNULL(CONVERT (VARCHAR (50), DECRYPTBYPASSPHRASE(@i_llave,al_clave)), 'null') AS 'Clave',  
  al_correo AS 'Correo',  
  al_telefono AS 'Telefono',  
  al_fecha_nacimiento AS 'FechaNacimiento',  
  ae_nemonico AS 'EstadoLoggin' ,  
  al_intento_loggin AS 'IntentoLoggin'  
 FROM  au_loggin  
 INNER JOIN au_estado_loggin ON al_estado_loggin = ae_id  
 WHERE al_loggin = @i_al_loggin  
END  
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spu_numero_logguin]    Script Date: 28/3/2025 20:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[spu_numero_logguin]   
(  
 @i_al_id INT  
)  
AS  
  
BEGIN  
  
 UPDATE au_loggin  SET al_intento_loggin = (al_intento_loggin + 1)
 WHERE al_id = @i_al_id  

END  
RETURN 0
GO
USE [master]
GO
